@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 1rem;
  margin-left: 9rem;
  margin-right: 9rem;
  margin-bottom: 9rem;
  font-family:'Poppins',
    sans-serif;
  text-align: center;
  /* color: rgb(255, 255, 255); */
  background-image: url("assets/solid.png");
  background-size: cover;
  background-repeat: none;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 80px;
}

.links {
  background-color: rgba(255, 255, 255, 0.598); 
  border-radius: 30px;
}


.input-text {

  background-color: rgba(255, 255, 255, 0.251);
  padding: 20px;
  width: 35%;
  justify-content: center;
  border-radius: 30px;
  border: none;
  margin-right: 8px;
  vertical-align: top;

}



.submit {
background-image: url("assets/check-circle.svg"); 
background-position: center;
width: 40px;
height: 40px;
margin-left: 8px;
background-size: cover;
border: none;
vertical-align: middle;
}

.running-image {
  height: 400px;
  width: 500px;
}

header h1 {
  font-size: 3.5em;
  font-weight: 900;
  text-align: center;
  padding: 2rem;
  align-content: center;
  margin-bottom: 0px;
  /* text-shadow: 4px 4px 4px #000000c2; */
}