@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 1rem;
  margin-left: 9rem;
  margin-right: 9rem;
  margin-bottom: 9rem;
  font-family:'Poppins',
    sans-serif;
  text-align: center;
  /* color: rgb(255, 255, 255); */
  background-image: url("assets/solid.png");
  background-size: cover;
  background-repeat: none;
  
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: small;
}

.links {
  background-color: rgba(255, 255, 255, 0.598); 
  border-radius: 30px;
  backdrop-filter: blur(20px);
}


.input-text {
  background-color: rgba(255, 255, 255, 0.251);
  padding: 10px;
  width: 25%;
  justify-content: center;
  border-radius: 30px;
  border: none;
  margin-right: 8px;
  vertical-align: top;
  margin-bottom: 20px;

}


.submit {
background-color: transparent;
border: none;

}

.running-image img {
  height: 400px;
  width: 500px;
  padding-left: 30px;
}

header h1 {
  font-size: 30px;
  font-weight: 1200;
  text-align: center;
  padding: .5rem;
  align-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 20px;
}
.panel {

  background-color: rgba(255, 255, 255, 0.238); 
  border-radius: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  backdrop-filter: blur(20px);

}

.weather-card {
  transition: 500ms ease all;
}

.switch {
  background-color: rgba(16, 170, 170, 0.271);
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 10px;
  border: none;
  font-size: medium;
  padding: 12px;
  width: 300px;  
}

.card-images img {
  height: 260px;
}

.box {
  display:flex; flex-direction:row;
}

.about-us {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.city-list {
text-align: center;
}